/* CSS HEX */
:root {
  --canary: #ffec0dff;
  --vivid-sky-blue: #53c8f7ff;
  --persian-pink: #f68dd8ff;
  --african-violet: #917ca7ff;
  --tekhelet: #3d287fff;
  --darkgrey: rgb(67, 67, 67)
  }
 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap'); 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--persian-pink);
  color: var(--tekhelet);
  line-height: 1.6;
}



.cardContainer {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.project-card{
  margin: 1rem;
  padding: 1rem;
}

button {
  padding: 1rem;
}

.cardButtons {
  display: flex;
  display: inline;
  justify-content: space-between;
}


.myButton {
  margin: 1px;
}